:root {
  --off-black: hsl(0, 0%, 8%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-off-white: hsl(0, 0%, 94%);
  --light-red: hsl(0, 100%, 67%);
  --smokey-grey: hsl(0, 1%, 44%);
  --light-grey: hsl(0, 0%, 86%);
  --purple: hsl(259, 100%, 65%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
